<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <dllmap dll="glfw3.dll" os="windows" cpu="x86" target="References/Native/Windows32/glfw3.dll"/>
    <dllmap dll="glfw3.dll" os="windows" cpu="x86-64" target="References/Native/Windows64/glfw3.dll"/>
    <dllmap dll="glfw3.dll" os="osx" target="References/Native/OSX64/libglfw.3.dylib"/>
    <dllmap dll="glfw3.dll" os="linux,freebsd,netbsd" target="References/Native/Linux64/libglfw.so.3"/>
	
    <dllmap dll="soft_oal.dll" os="windows" cpu="x86" target="References/Native/Windows32/soft_oal.dll"/>
    <dllmap dll="soft_oal.dll" os="windows" cpu="x86-64" target="References/Native/Windows64/soft_oal.dll"/>
    <dllmap dll="soft_oal.dll" os="osx" target="References/Native/OSX64/libopenal.1.20.1.dylib"/>
    <dllmap dll="soft_oal.dll" os="linux,freebsd,netbsd" target="References/Native/Linux64/libopenal.so.1"/>
	
    <dllmap dll="DevIL.dll" os="windows" cpu="x86" target="References/Native/Windows32/DevIL.dll"/>
    <dllmap dll="DevIL.dll" os="windows" cpu="x86-64" target="References/Native/Windows64/DevIL.dll"/>
    <dllmap dll="DevIL.dll" os="osx" target="References/Native/OSX64/libIL.dylib"/>
    <dllmap dll="DevIL.dll" os="linux,freebsd,netbsd" target="References/Native/Linux64/libIL.so.1"/>
</configuration>