<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <dllmap dll="glfw3.dll" os="windows" cpu="x86" target="glfw3.dll"/>
    <dllmap dll="glfw3.dll" os="windows" cpu="x86-64" target="glfw3.dll"/>
    <dllmap dll="glfw3.dll" os="osx" target="libglfw.3.dylib"/>
    <dllmap dll="glfw3.dll" os="linux,freebsd,netbsd" target="libglfw.so.3"/>
	
    <dllmap dll="soft_oal.dll" os="windows" cpu="x86" target="soft_oal.dll"/>
    <dllmap dll="soft_oal.dll" os="windows" cpu="x86-64" target="soft_oal.dll"/>
    <dllmap dll="soft_oal.dll" os="osx" target="libopenal.1.20.1.dylib"/>
    <dllmap dll="soft_oal.dll" os="linux,freebsd,netbsd" target="libopenal.so.1"/>
	
    <dllmap dll="DevIL.dll" os="windows" cpu="x86" target="DevIL.dll"/>
    <dllmap dll="DevIL.dll" os="windows" cpu="x86-64" target="DevIL.dll"/>
    <dllmap dll="DevIL.dll" os="osx" target="libIL.dylib"/>
    <dllmap dll="DevIL.dll" os="linux,freebsd,netbsd" target="libIL.so.1"/>
</configuration>