<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <dllmap os="windows" cpu="x86" dll="glfw3.dll" target="Libraries/Native/Windows/x86/glfw3.dll"/>
    <dllmap os="windows" cpu="x86" dll="soft_oal.dll" target="Libraries/Native/Windows/x86/soft_oal.dll"/>
    <dllmap os="windows" cpu="x86" dll="DevIL.dll" target="Libraries/Native/Windows/x86/DevIL.dll"/>
	
    <dllmap os="windows" cpu="x86-64" dll="glfw3.dll" target="Libraries/Native/Windows/x86_64/glfw3.dll"/>
    <dllmap os="windows" cpu="x86-64" dll="soft_oal.dll" target="Libraries/Native/Windows/x86_64/soft_oal.dll"/>
    <dllmap os="windows" cpu="x86-64" dll="DevIL.dll" target="Libraries/Native/Windows/x86_64/DevIL.dll"/>
	
    <dllmap os="osx" cpu="x86-64" dll="glfw3.dll" target="Libraries/Native/MacOS/x86_64/libglfw.3.dylib"/>
    <dllmap os="osx" cpu="x86-64" dll="soft_oal.dll" target="Libraries/Native/MacOS/x86_64/libopenal.1.20.1.dylib"/>
    <dllmap os="osx" cpu="x86-64" dll="DevIL.dll" target="Libraries/Native/MacOS/x86_64/libIL.dylib"/>
	
    <dllmap os="linux,freebsd,netbsd" cpu="x86" dll="glfw3.dll" target="Libraries/Native/Linux/x86/libglfw.so.3"/>
    <dllmap os="linux,freebsd,netbsd" cpu="x86" dll="soft_oal.dll" target="Libraries/Native/Linux/x86/libopenal.so.1"/>
    <dllmap os="linux,freebsd,netbsd" cpu="x86" dll="DevIL.dll" target="Libraries/Native/Linux/x86/libIL.so.1"/>
	
    <dllmap os="linux,freebsd,netbsd" cpu="x86-64" dll="glfw3.dll" target="Libraries/Native/Linux/x86_64/libglfw.so.3"/>
    <dllmap os="linux,freebsd,netbsd" cpu="x86-64" dll="soft_oal.dll" target="Libraries/Native/Linux/x86_64/libopenal.so.1"/>
    <dllmap os="linux,freebsd,netbsd" cpu="x86-64" dll="DevIL.dll" target="Libraries/Native/Linux/x86_64/libIL.so.1"/>
	
</configuration>